* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.console-container {
    color: #fff;
    width: 570px;
    height: 250px;
    border-radius: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    cursor: pointer;
}

img {
    max-width: 90%;
    max-height: 90%;
}

h1 {
    padding: 50px;
}