.form-overlay {
	background: rgba(0, 0, 0, 0.3);;
	position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 9999;
	
	.product-form-container {
		background-color: #fff;
		width: 60%;
		box-sizing: border-box;
		padding: 1rem;

		.product-form {
			height: 800px;
			background-color: #fff;
			width: 100%;
			box-sizing: border-box;
			padding: 20px;
			display: flex;
			gap: 10px;
	
			input {
				display: block;
				margin: 10px
			}
	
			.product-info {
				box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
				box-sizing: border-box;
				padding: 1rem;
			}

			.img-upload {
				box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
				padding: 1rem;
				width: 30%;
			}
	
			.checklist-container {
				margin-top: 5px;
	
				button {
					width: 100%;
					border: none;
					background-color: #cafcd6;
				}
	
				.checklist {
					margin-top: 5px;
					background-color: #f4f0f2;
					border-radius: 10px;
					.genre-checkbox {
						display: flex;
						align-items: center;
					}
				}
	
				
			}

			.description-input {
				width: 100%;
			}

			textarea {
				box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
				border: none;
				resize: none;
				outline: none;
				padding: 1rem;
				flex: 2;
			}
		}

		.submit-btn-container {
			display: flex;
			width: 100%;
			justify-content: flex-end;

			button {
				width: 150px;
				border: none;
				padding: 10px;
				background-color: #CAFCD6;
			}
		}
	}
}

.hide {
	display: none;
}