* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.customBtn {
    background-color: #946CBC;
    width: 25%;
    border: none;
    height: 40px;
    color: #fff;
}

.customBtn:hover {
    background-color: #8A9E17; 
}

span {
    color: red;
}

.reg-form {
    display:flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    width: 50%;
    height: 100%;  
    justify-content: center;
    min-width: 500px;
    position: relative;
    background-color: #fff;
}

.reg-form h1 {
    color: #946CBC;
}

.input-field {
    display: block;
    width: 100%;
    text-indent: 5%;
    border-radius: 25px;
    height: 40px;
    border: solid #797979 1px;
}

button {
    width: 200px;
    border: none;
    border-radius: 10px;
    height: 40px;
}


.close-form {
    position: absolute;
    background: #fff;
    width: 50px;
    height: 50px;
    top: -25px;
    right: -25px;
    border-radius: 100px;
    border: solid #946CBC 1px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    cursor: pointer;
    color: #946CBC;
    transition: background 0.3s, color 0.3s;
}

.close-form:hover {
    background: #946CBC;
    color: #fff;
}

.form-container {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('../../assets/images/background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}