.review-container {
    box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 4px;
    max-height: 300px;
    width: 60%;
    margin-bottom: 10px;
    border-radius: 30px;

    .user-info-container {
        border-bottom: solid #EEEEEE 1px;
        height: 20%;
        display: flex;

        .avatar {
            min-width: 7%;
        }

    }
}