.product-container {
    width: 14%;
    color: #000;
    box-shadow: rg;
    height: 450px;
    border-radius: 10px;
    display: flex;
    color : #000;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    padding: 20px;
    /* box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3); */
    border: solid #91C3BD 1px;
}

.product-container > p {
    width: 100%;
    text-align: left;
    padding: 10px;
    text-align: center;
}

.product-container img {
    width: 100%;
    height: auto;
    cursor: pointer;
}

.product-info {
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
}

.product-name{
    max-width: 100%;
    overflow: hidden;            /* Hide the overflowing content */
    text-overflow: ellipsis;
    white-space: nowrap; 
    cursor: pointer;
}

.product-info > * {
    margin: 10px;
}

.cart-btn {
    width: 60%;
    border-radius: 20px;
    border: none;
    background: #85BDB6;
    color: #fff;
    height: 20%;
    transition: border 0.3s, background 0.3s, color 0.3s;
}

.cart-btn:hover {
    border: solid #85BDB6 1px;
    background: #fff;
    color: #85BDB6;
}

.cart-amount {
    display: flex;
    width: 90%;
    justify-content: space-around;
    height: 25px;
    gap: 10px;
}


.cart-amount__selection {
    width: 50%;
    display: flex;
    border: solid #87CEEB 2px;
    justify-content: space-around;
    align-items: center;
    border-radius: 5px;
    font-size: 1.1em;
    cursor: pointer;
    color: #87CEEB;
}
