.login-form {
    display:flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    border-radius: 10px;
    width: 28%;
    height: 500px;  
    justify-content: center;
    min-width: 500px;
    position: relative;
    background-color: #fff;
}

.login-form h1 {
    color: #946CBC;
}

.input-field-container {
    width: 50%;
}

.input-field {
    display: block;
    width: 100%;
    text-indent: 5%;
    border-radius: 25px;
    height: 40px;
    border: solid #797979 1px;
}

button {
    width: 200px;
    border: none;
    border-radius: 10px;
    height: 40px;
}

span {
    color: red;
}

.close-form {
    position: absolute;
    background: #fff;
    width: 50px;
    height: 50px;
    top: -25px;
    right: -25px;
    border-radius: 100px;
    border: solid #946CBC 1px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    cursor: pointer;
    color: #946CBC;
    transition: background 0.3s, color 0.3s;
}

.close-form:hover {
    background: #946CBC;
    color: #fff;
}

.overlay {
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 99999;
}