* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navlist__items li {
    list-style: none;
    cursor: pointer;
    height: 10%;
    margin-bottom: 10px;
}

.navlist__items li:hover {
    background-color: #EEEEEF;
}

.title {
    text-decoration: none;
    color: #fff;
    font-size: 1.1em;
}

.navlist__items {
    color: #000;
    position: absolute;
    top: 130%;
    background: #fff;
    width: 250px;
    margin: 0;
    padding: 10px;

}

.navlist__container {
    position: relative;
    margin-right: 50px;
    z-index: 9999; 
}

.item-own-list {
    background-color: #000;
    color: #fff;
    position: absolute;
    left: 250px;
    width: 300px;
    top: 0px;
}

.hide {
    display: none;
}

.logo-characters {
    font-size: 2em;
}