@use "../../../styles/responsive.scss" as *;


@keyframes slideIn {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes slideOut {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}


.mobile-overlay {
  display: none;

  @include mobile {
    display: block;
    top: 0; left: 0;
    position: fixed;
    width: 100vw;
    height: 100vh;
    z-index: 100000;
    backdrop-filter: blur(8px);
    background-color: rgba(0, 0, 0, 0.4);

    &.hidden {
      display: none;
    }
  
    .menu-container {
      backdrop-filter: blur(8px);
      background: rgba(172, 117, 228, 0.7);
      width: 60%;
      height: 100%;
      padding-top: 50px 0 0 0;
      box-sizing: border-box;
      color: #85BDB6;
  
      &.slide-in {
        animation: slideIn 0.3s ease-out;
      }
  
      &.slide-out {
        animation: slideOut 0.3s ease-out;
      }
  
      ul {
        width: 100%;
        padding: 50px 0 0 0;
  
        li {
          list-style-type: none;
          width: 100%;
          font-weight: 500;
          text-align: center;
          height: 40px;
          display: flex;
          align-items: center;
          justify-content: center;
          border-bottom: solid rgba(193, 130, 255, 0.7) 1px;
          cursor: pointer;
  
          &:hover {
            background-color: rgb(0, 0, 0, 0.05);
          }

          .icon {
            margin-right: 10px;
          }
        }
      }
    }
  }
  
  

}
