.payment-page-container {
	height: 100vh;
	background-color: #fafafa;
	.payment-container {
		display: flex;
		box-sizing: border-box;
		padding-left: 10rem;
		padding-top: 50px;
		gap: 20px;
		position: relative;
	
		.header {
			color: #000;
			height: 35px;
			border-radius: 10px 10px 0 0;
			border-bottom: solid #85BDB6 1px;
			font-weight: 500;
		}
	
		.cart-section {
			width: 60%;
			box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
			border-radius: 10px;
			box-sizing: border-box;
			padding: 20px;
			background-color: #fff;
		}

		.info-section {
			background-color: #fff;
			width: 25%;
			box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
			border-radius: 10px;
			box-sizing: border-box;
			padding: 20px;
			display: flex;
			flex-direction: column;
			gap: 20px;
		}

		.payment-btn {
			margin-top: auto;
			width: 100%;
			display: flex;
			justify-content: center;

			button {
				width: 150px;
				height: 35px;
				border-radius: 10px;
				background-color: #946CBC;
				border: solid #946CBC 1px;
				color: #fff;
				transition: background-color 0.3s, color 0.3s;

				&:hover {
					background-color: #fff;
					color: #946CBC;
				}
			}
		}
	
		.payment-info-section {
			display: flex;
			flex-direction: column;
			align-items: flex-end;
	
			.payment-info {
				width: 40%;
				display: flex;
				justify-content: space-between;
				align-items: center;
				border-bottom: solid #85BDB6 1px;
			}
		}
	
		
		.method-section {
			.method-item { 
				display: block;
				margin-bottom: 5px;

				input[type="radio"] {
					appearance: none;
					-webkit-appearance: none;
					width: 14px;
					height: 14px;
					border: 1px solid #946CBC;
					border-radius: 50%;
					margin-right: 10px;
					position: relative;
					cursor: pointer;
					vertical-align: middle;

					&:checked {
						background-color: #946CBC;
						
						&:after {
							content: "";
							position: absolute;
							top: 50%;
							left: 50%;
							transform: translate(-50%, -50%);
							width: 6px;
							height: 6px;
							border-radius: 50%;
							background-color: white;
						}
					}
				}

				label {
					cursor: pointer;
					vertical-align: middle;
				}
			}
			
		}
	}
}

